<form novalidate class="form" #form="ngForm" (ngSubmit)="process()">

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Nom et prenom" required minlength="5" [(ngModel)]= "newItem.name" name="name" #nameCtrl = "ngModel">
  <div class="alert alert-danger" *ngIf="nameCtrl.invalid && nameCtrl.touched "> champ invalide</div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Ref. ex : 555" required minlength="5" [(ngModel)]= "newItem.reference" name="ref">
  </div>

  <div class="form-group">
    <select class="form-control"  [(ngModel)]= "newItem.state" name="state">
      <option *ngFor=" let libelle of stateLibelles" [ngValue]="libelle">{{ libelle }}</option>
    </select>
  </div>

  <div class="form-group">
    <button [disabled]="form.invalid"  type="submit" class="btn btn-primary">Valider</button>
  </div>
</form>